.navbar{
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand {
  margin-left: 5px;
}

.navbar-nav .nav-link {
  color: #FFEA11;
  text-transform: capitalize;
  position: relative;
}

.navbar-nav .active .nav-link {
  color: #04cbb8;
  font-weight: bold;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #04cbb8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:focus::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-nav .nav-link:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.scrolled {
  background-color: #6c8d93; 
}

.transparent {
  background-color: transparent;
}

.black {
  background-color: #6c8d93;
}

.navbar-nav .nav-link.active {
  color:  #0bfcec;
}



